* {
	margin: 0;
	padding: 0;
}

body {
	width: 100%;
	height: 100%;
	border: 5px solid #ccc;
	box-sizing: border-box;
	-webkit-transition: background-color 1000ms linear;
	-moz-transition: background-color 1000ms linear;
	-o-transition: background-color 1000ms linear;
	-ms-transition: background-color 1000ms linear;
	transition: background-color 1000ms linear;
}

body.night {
	background: #000;
}

div {
	background: #000;
}

.ant {
	width: 170px;
	height: 100px;
	position: absolute;
	background-color: transparent;
	-webkit-transform-origin: center center;
	transition: all 2s linear;
}

.aerial {
	top: 5px;
	left: 48px;
	position: absolute;
	animation: linear aerial 1s infinite;
	transform-origin: center left;
	-webkit-animation: linear aerial 1s infinite;
	-webkit-transform-origin: center left;
}

.aerial .left {
	width: 2px;
	height: 25px;
	top: 15px;
	left: 0px;
	position: absolute;
	transform: rotate(-35deg);
	transform-origin: bottom left;
	-webkit-transform: rotate(-35deg);
	-webkit-transform-origin: bottom left;
}

.aerial .left .arm {
	width: 2px;
	height: 25px;
	margin-top: -25px;
	transform: rotate(-20deg);
	transform-origin: bottom left;
	-webkit-transform: rotate(-20deg);
	-webkit-transform-origin: bottom left;
}

.aerial .right {
	width: 2px;
	height: 25px;
	top: 45px;
	left: 0px;
	position: absolute;
	transform: rotate(35deg);
	transform-origin: top left;
	-webkit-transform: rotate(35deg);
	-webkit-transform-origin: top left;
}

.aerial .right .arm {
	width: 2px;
	height: 25px;
	margin-top: 25px;
	transform: rotate(20deg);
	transform-origin: top left;
	-webkit-transform: rotate(20deg);
	-webkit-transform-origin: top left;
}


.c1 {
	width: 25px;
	height: 20px;
	position: absolute;
	left: 45px;
	top: 40px;
	border-radius: 15px 10px 10px 15px / 8px 10px 10px 8px;
}

.c2 {
	width: 30px;
	height: 26px;
	background: black;
	position: absolute;
	left: 70px;
	top: 37px;
	border-radius: 20px / 10px;
}

.c2:before {
	content: "";
	display: block;
	width: 45px;
	height: 36px;
	background: black;
	position: absolute;
	left: 30px;
	top: -5px;
	border-radius: 20px 50% 50% 20px / 10px 50% 50% 10px;
}

.paw {
	top: 5px;
	left: 68px;
	position: absolute;
}

.paw .left {
	width: 2px;
	height: 25px;
	top: 15px;
	left: 0px;
	position: absolute;
	transform: rotate(15deg);
	transform-origin: bottom left;
	animation: paw-left linear 0.8s infinite;
	-webkit-transform: rotate(15deg);
	-webkit-transform-origin: bottom left;
	-webkit-animation: paw-left linear 0.8s infinite;
}

.paw .left .arm {
	width: 2px;
	height: 25px;
	margin-top: -25px;
	transform: rotate(20deg);
	transform-origin: bottom left;
	animation: paw-left-arm linear 0.8s infinite;
	-webkit-transform: rotate(20deg);
	-webkit-transform-origin: bottom left;
	-webkit-animation: paw-left-arm linear 0.8s infinite;
}

.paw .right {
	width: 2px;
	height: 25px;
	top: 45px;
	left: 0px;
	position: absolute;
	transform: rotate(-15deg);
	transform-origin: top left;
	animation: paw-right linear 0.8s infinite;
	-webkit-transform: rotate(-15deg);
	-webkit-transform-origin: top left;
	-webkit-animation: paw-right linear 0.8s infinite;
}

.paw .right .arm {
	width: 2px;
	height: 25px;
	margin-top: 25px;
	transform: rotate(-20deg);
	transform-origin: top left;
	animation: paw-right-arm linear 0.8s infinite;
	-webkit-transform: rotate(-20deg);
	-webkit-transform-origin: top left;
	-webkit-animation: paw-right-arm linear 0.8s infinite;
}

.paw1 .left {
	left: 20px;
	animation: paw1-left linear 0.8s infinite;
	-webkit-animation: paw1-left linear 0.8s infinite;
}

.paw1 .left .arm {
	height: 40px;
	margin-top: -40px;
	transform: rotate(40deg);
	transform-origin: bottom left;
	animation: paw1-left-arm linear 0.8s infinite;
	-webkit-transform: rotate(40deg);
	-webkit-transform-origin: bottom left;
	-webkit-animation: paw1-left-arm linear 0.8s infinite;
}

.paw1 .right {
	left: 20px;
	animation: paw1-right linear 0.8s infinite;
	-webkit-animation: paw1-right linear 0.8s infinite;
}

.paw1 .right .arm {
	height: 40px;
	margin-top: 25px;
	transform: rotate(-40deg);
	transform-origin: top left;
	animation: paw1-right-arm linear 0.8s infinite;
	-webkit-transform: rotate(-40deg);
	-webkit-transform-origin: top left;
	-webkit-animation: paw1-right-arm linear 0.8s infinite;
}

.paw2 .left {
	height: 30px;
	left: 35px;
	position: absolute;
	transform: rotate(30deg);
	transform-origin: bottom left;
	animation: paw2-left linear 0.8s infinite;
	-webkit-transform: rotate(30deg);
	-webkit-transform-origin: bottom left;
	-webkit-animation: paw2-left linear 0.8s infinite;
}

.paw2 .left .arm {
	height: 40px;
	margin-top: -40px;
	transform: rotate(35deg);
	transform-origin: bottom left;
	animation: paw2-left-arm linear 0.8s infinite;
	-webkit-transform: rotate(35deg);
	-webkit-transform-origin: bottom left;
	-webkit-animation: paw2-left-arm linear 0.8s infinite;
}

.paw2 .right {
	height: 30px;
	top: 45px;
	left: 35px;
	position: absolute;
	transform: rotate(-30deg);
	transform-origin: top left;
	animation: paw2-right linear 0.8s infinite;
	-webkit-transform: rotate(-30deg);
	-webkit-transform-origin: top left;
	-webkit-animation: paw2-right linear 0.8s infinite;
}

.paw2 .right .arm {
	height: 40px;
	margin-top: 30px;
	transform: rotate(-35deg);
	transform-origin: top left;
	animation: paw2-right-arm linear 0.8s infinite;
	-webkit-transform: rotate(-35deg);
	-webkit-transform-origin: top left;
	-webkit-animation: paw2-right-arm linear 0.8s infinite;
}

/*======================
       Keyframes
======================*/

@keyframes aerial {
	0% {
		transform: rotateY(-35deg);
	}
	50% {
		transform: rotateY(35deg);
	}
	100% {
		transform: rotateY(-35deg);
	}
}

@keyframes paw-left {
	00% {
		transform: rotate(-15deg);
	}
	20% {
		transform: rotate(-15deg);
	}
	40% {
		transform: rotate(15deg);
	}
	100% {
		transform: rotate(-15deg);
	}
}

@keyframes paw-left-arm {
	0% {
		transform: rotate(20deg);
	}
	50% {
		transform: rotate(50deg);
	}
	100% {
		transform: rotate(20deg);
	}
}

@keyframes paw-right {
	0% {
		transform: rotate(15deg);
	}
	60% {
		transform: rotate(15deg);
	}
	80% {
		transform: rotate(-15deg);
	}
	100% {
		transform: rotate(15deg);
	}
}

@keyframes paw-right-arm {
	0% {
		transform: rotate(-20deg);
	}
	50% {
		transform: rotate(-50deg);
	}
	100% {
		transform: rotate(-20deg);
	}
}

@keyframes paw1-left {
	0% {
		transform: rotate(-20deg);
	}
	30% {
		transform: rotate(-20deg);
	}
	50% {
		transform: rotate(20deg);
	}
	100% {
		transform: rotate(-20deg);
	}
}

@keyframes paw1-left-arm {
	0% {
		transform: rotate(20deg);
	}
	50% {
		transform: rotate(50deg);
	}
	100% {
		transform: rotate(20deg);
	}
}

@keyframes paw1-right {
	0% {
		transform: rotate(25deg);
	}
	50% {
		transform: rotate(25deg);
	}
	80% {
		transform: rotate(-25deg);
	}
	100% {
		transform: rotate(25deg);
	}
}

@keyframes paw1-right-arm {
	0% {
		transform: rotate(-20deg);
	}
	50% {
		transform: rotate(-60deg);
	}
	100% {
		transform: rotate(-20deg);
	}
}


@-webkit-keyframes paw2-left {
	0% {
		-webkit-transform: rotate(5deg);
	}
	30% {
		transform: rotate(5deg);
	}
	50% {
		transform: rotate(40deg);
	}
	100% {
		transform: rotate(5deg);
	}
}

@keyframes paw2-left-arm {
	0% {
		transform: rotate(20deg);
	}
	50% {
		transform: rotate(50deg);
	}
	100% {
		transform: rotate(20deg);
	}
}

@keyframes paw2-right {
	0% {
		transform: rotate(-5deg);
	}
	50% {
		transform: rotate(-5deg);
	}
	80% {
		transform: rotate(-40deg);
	}
	100% {
		transform: rotate(-5deg);
	}
}

@keyframes paw2-right-arm {
	0% {
		transform: rotate(-20deg);
	}
	50% {
		transform: rotate(-60deg);
	}
	100% {
		transform: rotate(-20deg);
	}
}


/*======================
    Webkit Keyframes
======================*/


@-webkit-keyframes aerial {
	0% {
		-webkit-transform: rotateY(-35deg);
	}
	50% {
		-webkit-transform: rotateY(35deg);
	}
	100% {
		-webkit-transform: rotateY(-35deg);
	}
}

@-webkit-keyframes paw-left {
	00% {
		-webkit-transform: rotate(-15deg);
	}
	20% {
		-webkit-transform: rotate(-15deg);
	}
	40% {
		-webkit-transform: rotate(15deg);
	}
	100% {
		-webkit-transform: rotate(-15deg);
	}
}

@-webkit-keyframes paw-left-arm {
	0% {
		-webkit-transform: rotate(20deg);
	}
	50% {
		-webkit-transform: rotate(50deg);
	}
	100% {
		-webkit-transform: rotate(20deg);
	}
}

@-webkit-keyframes paw-right {
	0% {
		-webkit-transform: rotate(15deg);
	}
	60% {
		-webkit-transform: rotate(15deg);
	}
	80% {
		-webkit-transform: rotate(-15deg);
	}
	100% {
		-webkit-transform: rotate(15deg);
	}
}

@-webkit-keyframes paw-right-arm {
	0% {
		-webkit-transform: rotate(-20deg);
	}
	50% {
		-webkit-transform: rotate(-50deg);
	}
	100% {
		-webkit-transform: rotate(-20deg);
	}
}

@-webkit-keyframes paw1-left {
	0% {
		-webkit-transform: rotate(-20deg);
	}
	30% {
		-webkit-transform: rotate(-20deg);
	}
	50% {
		-webkit-transform: rotate(20deg);
	}
	100% {
		-webkit-transform: rotate(-20deg);
	}
}

@-webkit-keyframes paw1-left-arm {
	0% {
		-webkit-transform: rotate(20deg);
	}
	50% {
		-webkit-transform: rotate(50deg);
	}
	100% {
		-webkit-transform: rotate(20deg);
	}
}

@-webkit-keyframes paw1-right {
	0% {
		-webkit-transform: rotate(25deg);
	}
	50% {
		-webkit-transform: rotate(25deg);
	}
	80% {
		-webkit-transform: rotate(-25deg);
	}
	100% {
		-webkit-transform: rotate(25deg);
	}
}

@-webkit-keyframes paw1-right-arm {
	0% {
		-webkit-transform: rotate(-20deg);
	}
	50% {
		-webkit-transform: rotate(-60deg);
	}
	100% {
		-webkit-transform: rotate(-20deg);
	}
}


@-webkit-keyframes paw2-left {
	0% {
		-webkit-transform: rotate(5deg);
	}
	30% {
		-webkit-transform: rotate(5deg);
	}
	50% {
		-webkit-transform: rotate(40deg);
	}
	100% {
		-webkit-transform: rotate(5deg);
	}
}

@-webkit-keyframes paw2-left-arm {
	0% {
		-webkit-transform: rotate(20deg);
	}
	50% {
		-webkit-transform: rotate(50deg);
	}
	100% {
		-webkit-transform: rotate(20deg);
	}
}

@-webkit-keyframes paw2-right {
	0% {
		-webkit-transform: rotate(-5deg);
	}
	50% {
		-webkit-transform: rotate(-5deg);
	}
	80% {
		-webkit-transform: rotate(-40deg);
	}
	100% {
		-webkit-transform: rotate(-5deg);
	}
}

@-webkit-keyframes paw2-right-arm {
	0% {
		-webkit-transform: rotate(-20deg);
	}
	50% {
		-webkit-transform: rotate(-60deg);
	}
	100% {
		-webkit-transform: rotate(-20deg);
	}
}

form {
	position: absolute;
	top: 0;
	right: 0
}

form input[type=text] {
	border-radius: 5px;
	border: 1px solid #ccc;
	background: #f0f0f0;
	line-height: 18px;
	font-size: 18px;
	padding: 10px;
}
